// FONT
$primary-font: 'Montserrat Alternates', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

// COLORS
$primary-color: #43A047;
$secondary-color:  #66BB6A;
$card-hover-color: #AAB7B8;
$heading: #fff;
$background: linear-gradient(to right, #8BC34A, #E6EE9C);
